<!-- _ means this is a partial file, not an actual file that is being rendered from the server -->
<div class="form-row">
    <div class="form-item">
        <label>Name</label>
        <input type="text" name="name" value="<%= author.name %>">
    </div>
</div>
